<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org" escapexml="false" th:charset="UTF-8">
<head th:replace="/layout::head">

    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div align="center">
    <h1>Edit customer</h1>
    <p>
        <a href="/song">Song list</a>
    </p>
    <th:block th:if="${message}">
        <p th:text="${message}"></p>
        <script th:inline="javascript">
            setTimeout(function () {
                window.location.href = /*[[@{/song}]]*/ '#';
            }, 3000);
        </script>
    </th:block>
</div>
<div align="center">
    <form th:action="@{/edit}" th:object="${song}" method="post">
        <input th:type="hidden" th:field="*{id}">
        <table>
            <tr>
                <td>Song Name</td>
                <td><input type="text" th:field="*{song_name}" ></td>
            </tr>
            <tr>
                <td>Singer</td>
                <td><input type="text" th:field="*{singer}"></td>
            </tr>
            <tr>
                <td>Kind Of Music</td>
                <td><input type="text" th:field="*{kind}"></td>
            </tr>
            <tr>
                <td>Video Link</td>
                <td><input type="text" th:field="*{url_link}"></td>
            </tr>
        </table>
        <input type="submit" th:value="Update">
    </form>
</div>
</body>
</html>